<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>JPA insert</h1>
	<form action="insert" method="post"><!-- 원래는 절대 URI로 작성했었다. -->
		<table>
			<tr>
				<th>Myname</th>
				<td><input type="text" name="myname"></td>
			</tr>
			<tr>
				<th>Mytitle</th>
				<td><input type="text" name="mytitle"></td>
			</tr>
			<tr>
				<th>Mycontent</th>
				<td><textarea rows="10" cols="40" name="mycontent"></textarea></td>
			</tr>
			<tr>
				<td colspan="2">
					<input type="submit" value="작성완료">
				</td>
			</tr>
		</table>
	</form>
</body>
</html>