<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>Member Update</h1>
	<form action="/member/update" method="post" th:object="${dto}">
		<input type="hidden" name="memberno" th:value="*{memberno}">
		<table>
			<tr>
				<th>MyId</th>
				<td th:text="*{memberid}"></td>
			</tr>
			<tr>	
				<th>MyPw</th>
				<td><input type="text" name="memberpw" th:field="*{memberpw}"></td>
			</tr>
			<tr>
				<th>MyName</th>
				<td><input type="text" name="membername" th:field="*{membername}"></td>
			</tr>
			<tr>
				<td colspan="2">	
					<input type="submit" value="수정">
				</td>
			</tr>
		</table>
	</form>
</body>
</html>