<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- typeAlias -->
	<typeAliases>
		<typeAlias type="com.my.dto.MyBoardDto" alias="MyBoardDto"/><!-- alias로 별칭 준다. -->
	</typeAliases>
	
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC">
			</transactionManager>
			<dataSource type="POOLED">
				<property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
				<property name="url" value="jdbc:oracle:thin:@localhost:1521:orcl"/>
				<property name="username" value="MULTI"/>
				<property name="password" value="MULTI"/>
			</dataSource>
		</environment>
	</environments>
	
	<!-- Mapper 경로 : 쿼리 문을 모아놓은 파일: Mapper -->
	<mappers>
		<mapper resource="com/my/db/Mapper.xml"></mapper>
	</mappers>
</configuration>