<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>update.html</h1>
	<form th:object="${dto}" th:action="@{/myboard/update}" method="post">
		<input type="hidden" th:field="*{myno}">
		<table>
			<tr>
				<th>myname</th>
				<td><input type="text" th:field="*{myname}"></td>
			</tr>
			<tr>	
				<th>mytitle</th>
				<td><input type="text" th:field="*{mytitle}"></td>
			</tr>
			<tr>
				<th>mycontent</th>
				<td><textarea rows="10" cols="40" th:field="*{mycontent}"></textarea></td>
			</tr>
			<tr>
				<td colspan="2">
					<input type="submit" value="수정">
				</td>
			</tr>
		</table>
	</form>
</body>
</html>