<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>insert.html</h1>
	<form th:action="@{/myboard/insert}" method="post">
		<table>
			<tr>
				<th>myname</th>
				<td><input type="text" name="myname"></td>
			</tr>
			<tr>
				<th>mytitle</th>
				<td><input type="text" name="mytitle"></td>
			</tr>
			<tr>
				<th>mycontent</th>
				<td><textarea rows="10" cols="40" name="mycontent"></textarea></td>
			</tr>
			<tr>
				<td colspan="2">
					<input type="submit" value="작성">
				</td>
			</tr>
		</table>
	</form>
</body>
</html>