#content{
    background-color: rgb(243, 242, 242);
    height: 100vh;
    display: flex;
}
#header{
    background-color: rgb(101, 148, 105);
    height: 120px;
}
#topmenu{
    padding: 10px;
    display: flex;
    height: 60px;
    margin-left: 15%;
    margin-right: 15%;
}
#logo{
    width: 33%;
    height: 100%;
}
#logo>h1{
    display: inline;
}
#search{
    width: 35%;
}
#search>input{
    width: 100%;
    height:  45px;
    background-color: rgb(234, 238, 222);
    border: none;
    border-radius: 30px;
    padding-left: 20px;
}
#icons{
    float: right;
    display: flex;
}
#menubar{
    height: 60px;
    margin-left: 15%;
    margin-right: 15%;
}
#leftContent{
    margin: 30px;
    margin-left: 15%;
    border: 1px solid rgba(236, 235, 235, 0.808);
    width: 25%;
    background-color: rgb(253, 255, 245);
    border-radius: 30px;
}
#rightContent{
    margin: 30px;
    border: 1px solid rgba(236, 235, 235, 0.808);
    margin-right: 15%;
    width: 45%;
    background-color: rgb(253, 255, 245);
    border-radius: 30px;
    padding-left: 15px;
}