<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">
	<!-- sts버전 3.9.13에서는 namespace에서 aop체크하기 -->
	
	<!-- bean만들기, aop 설정하기 -->
	<bean id="student" class="com.test03.Student"/>
	<bean id="teacher" class="com.test03.Teacher"/>
	<bean id="test" class="com.test03.Test"/>
	
	<bean id="myAspect" class="com.test03.MyAspect"/>

	<aop:config>
		<aop:aspect ref="myAspect">
			<aop:before method="before" pointcut="execution(public * *(..))"/> <!-- public * *(..)메소드가 실행(execution)될때 메소드 이름이 before인 메소드가 실행되는 before advice-->
			<aop:after method="after" pointcut="execution(public * *(..))"/>
		</aop:aspect>
	</aop:config>

</beans>
