<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.my.member">
 	<select id="selectLogin" resultType="MemberDto">
 		SELECT * FROM MLPMEMBER WHERE ID=#{id}
 	</select>
 	
 	<update id="updateProfile">
 		UPDATE MLPMEMBER SET INFO=#{info}, EMAIL=#{email}, PHONE=#{phone} WHERE NO=#{no}
 	</update>
 	
 	<select id="selectMember" resultType="MemberDto">
 		SELECT * FROM MLPMEMBER WHERE NO=#{no}
 	</select>
 	<insert id="insert">
 		INSERT INTO MLPMEMBER VALUES(SEQ_MLPMEMBER.NEXTVAL,#{id},#{pw},#{name},#{email},#{phone},#{dept},NULL)
 	</insert>
 </mapper>