<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="lee" class="com.test04.Emp">
		<property name="name" value="이상은"></property>
		<property name="salary" value="200000"/>
	</bean>
	
	<bean id="leese" class="com.test04.Developer">
		<constructor-arg name="emp" ref="lee"/>
		<constructor-arg name="dept" value="개발자"></constructor-arg>
	</bean>
	
	<!-- Engineer클래스 빈 생성 -->
	<!-- 김창진, 3500000, 기술자 -->
	<bean id="kim" class="com.test04.Emp">
		<property name="name" value="김창진"></property>
		<property name="salary" value="3500000"></property>
	</bean>
	
	<bean id="kimcj" class="com.test04.Engineer">
		<constructor-arg name="emp" ref="kim"></constructor-arg>
		<constructor-arg name="dept" value="기술자"></constructor-arg>
	</bean>
</beans>
