<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>utility</h1>
	<!--  유틸리티객체(타임리프 내장 객체): #객체명 -->
	<p th:text="${#calendars.format(#calendars.createNow() ,'yyyy-MM-dd HH:mm')}">#date objects </p> <!-- 날짜와 관련된 객체 -->
	
	<p th:text="${#numbers.formatInteger(345.1234, 5)}"> #numbers objects</p> <!-- 숫자와 관련된 객체 -->
	
	<p th:text="${#strings.toUpperCase('hello, spring boot and thymeleaf')}">#strings objects</p><!-- 문자와 관련된 객체 -->
</body>
</html>