<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Spring07_HelloMVC</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
  <!-- tomcat시작되면서 web.xml 읽어 설정 -->
  <listener>
  	<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  
  <context-param>
  	<param-name>contextConfigLocation</param-name> <!-- rootcontext -->
  	<param-value>/WEB-INF/applicationContext.xml</param-value> <!-- db연결과 관련된 빈들 -->
  </context-param>
  
  <servlet>
  	<servlet-name>hello</servlet-name>
  	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class><!--spring은 이미 제공된 servlet 이용 -->
  	<init-param>
  		<param-name>contextConfigLocation</param-name>
  		<param-value>/WEB-INF/servlet-context.xml</param-value>
  	</init-param>
  </servlet>
  
  <!-- servlet 어떤 요청을 받을지 -->
  <servlet-mapping>
  	<servlet-name>hello</servlet-name>
  	<url-pattern>*.do</url-pattern> 
  </servlet-mapping>
  <!-- 요청 넘어갔을 때 dispatcherservlet이 컨트롤러로 넘어가는 거 기본적 설정 끝 -->
</web-app>